body {
    background: url(city.png);
    background-size: 100%;
    height: 90vh;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    object-fit: cover;
    justify-content: center;
    align-items: center;
}
.container {
    background: #0049B7;
    color: #ffffff85;
    max-width: 27%;
    margin: auto;
    padding: 3px 9px;
    border: 3px solid black;
    border-radius: 10px;
}

h1 {
    font-weight: 990;
}

h2 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
}

#click {
    background-color: #9068be;
    color: #ffffff85;
}

#save-btn {
    background-color: rgb(10, 167, 28);
    color: #ffffff85;
}

#refresh-btn {
    background-color: #DCAE1D;
    color: #ffffff85;
}

button {
    border: 2px solid black ;
    border-radius: 10px;
    padding: 10px 1px;
    color: white;
    font-weight: bold;
    width: 200px;
    margin: auto auto auto auto;
}

@media (orientation: landscape) {
    body {
        max-height: 1280px;
    }
}